/*==============*/
/* JS DAY THREE */
/*==============*/

/*================*/
/* jQuery Styling */
/*================*/

* {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

a {}

/*============================================*/
/* Main Styling */
/*============================================*/

body {
    // background-color: #ECEBE9;
    background-color: yellow;
    height: 500px;
}

.head {
    background-color: orange;
    // background-size: cover;
    background-position: center;
    width: 100%;
    height: 165px;
    margin-bottom: 10px;
}

.title {
    margin: 0 auto;
    position: absolute;
    left: 10%;
    top: 0px;
    color: white;
    font-size: 8em;
}

.underTitle {
    margin: 0 auto;
    position: absolute;
    left: 10.65%;
    top: 125px;
    color: white;
    font-size: 2em;
    font-weight: 100;
    letter-spacing: .556em;
}

.container {
    margin: 0 auto;
    background-color: black;
    max-width: 970px;
    height: 100%;
    margin-top: 10px;
    overflow: scroll;
    position: relative;
}

.main {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 10px;
    position: relative;
    top: 10px;
    max-width: 98%;
    // max-height: 98%;
    background-color: #1e1e1e;
    color: black;
    display: none;
    &.activate {
        display: block;
    }
}

.identity {
    margin: 0 auto;
    width: 800px;
    height: 200px;
    background-color: transparent;
    position: absolute;
    left: 85px;
    top: 100px;
    &.activate {
        display: none;
    }
}

.input-username {
    position: relative;
    left: 50px;
    height: 150px;
    width: 700px;
    font-size: 100px;
    text-align: center;
}

.submit-username {
    font-size: 18px;
    width: 60px;
    height: 35px;
    line-height: 35px;
    margin: 5px auto;
    text-align: center;
    background-color: white;
    cursor: pointer;
}

.foot {
    display: block;
    clear: both;
    background-color: red;
    width: 100%;
    height: 165px;
    margin-top: 10px;
}

/*============================================*/
/* Message Box */
/*============================================*/

.message-instance {
    min-height: 0px;
    max-height: 500px;
    width: 950px;
    margin: 0;
    padding: 0 0 50px 0;
}

.username {
    // float: left;
    line-height: 13px;
    display: inline-block;
    margin: 1% 0% 0% 1%;
    width: 18%;
    text-align: right;
    // min-height: 30px;
    // background-color: green;
    color: #a6e22d;
}

.message-text {
    // float: left;
        // line-height: 13px;
    display: inline-block;
    margin: 1% 1% 0% 1%;
    width: 59%;
    max-height: 500px;
    // max-width: 100px;
    // height: 30px;
    text-align: right;
    overflow: scroll;
    text-align: left;
    // background-color: green;
    color: #fff;
    & img {
    }
}

.timestamp {
    line-height: 13px;
    // float: right;
    display: inline-block;
    margin: 1% 1% 0% 0%;
    width: 18%;
    color: #fd9720;
    text-align: right;
    // min-height: 30px;
    // background-color: green;
}

.textfield2 {
    text-align: left;
    vertical-align: text-top;
    position: relative;
    width: 400px;
    // height: 50px;
}

.submit-message {
    font-size: 18px;
    width: 60px;
    height: 35px;
    line-height: 35px;
    margin: 5px auto;
    text-align: center;
    background-color: white;
    cursor: pointer;
}


        // <div class="main">
        //     <form class ="inputForm">
        //         <input class="textfield2"></input>
        //         <div class="submit-message">Submit</div>
        //     </form>
        // </div>

/*============================================*/
/* Before & After Example */
/*============================================*/

.example {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: orange;
    &:before {
        position: absolute;
        content: " ";
        font-size: 40px;
        width: 400px;
        height: 400px;
        border-radius: 400px;
        background-color: red;
        left: 200px;
    }
    &:after {
        position: absolute;
        content: " ";
        font-size: 40px;
        width: 360px;
        height: 360px;
        border-radius: 400px;
        background-color: orange;
        left: 222px;
        top: 20px;
        transition: all .5s ease;
    }
    &:hover:after {
        top: 0px;
        left: 175px;
        border-radius: 0;
        width: 400px;
        height: 400px;
    }
}